---
import NavMenu from "../components/NavMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <NavMenu />
  <section class="callme">
    <article class="callme__textCont">
      <div class="callme__text">
        <h1 class="callme__h1">Contacto</h1>
        <p class="callme__p callme__p--media">
          Si quieres, puedes visitar mis redes sociales
        </p>
      </div>
      <div class="callme__icons">
        <a
          href="https://github.com/iker777"
          target="_blank"
          class="callme__mail"
        >
          <img src="/svg/github.svg" alt="Email" />
          <span class="callme__span">github.com/iker777</span>
        </a>
        <a
          href="https://es.linkedin.com/in/iker-alvarez-saez"
          target="_blank"
          class="callme__phone"
        >
          <img src="/svg/linkedin.svg" alt="Email" />
          <span class="callme__span">LinkedIn</span>
        </a>
        <span class="callme__where callme__where--location">
          <img src="/svg/location.svg" alt="Email" />
          <span class="callme__span">Vitoria-Gasteiz</span>
        </span>
      </div>
    </article>
    <article class="callme__formCont">
      <!-- Cargar Turnstile -->
      <script
        src="https://challenges.cloudflare.com/turnstile/v0/api.js"
        async
        defer></script>
      <form
        class="callme__form"
        name="contact__iker"
        method="POST"
        data-netlify="true"
      >
        <!-- Campo oculto para Netlify y anti-bots -->
        <input type="hidden" name="form-name" value="contact" />
        <p class="hidden">
          <label>No rellenar este campo: <input name="bot-field" /></label>
        </p>
        <div class="callme__formGroup">
          <label for="name" class="callme__label">Nombre</label>
          <input
            required
            minlength="3"
            maxlength="50"
            placeholder="Tu nombre"
            type="text"
            name="name"
            class="callme__input"
            required
          />
        </div>
        <div class="callme__formGroup">
          <label for="email" class="callme__label">Email</label>
          <input
            type="email"
            name="email"
            class="callme__input"
            placeholder="tu@email.com"
            required
          />
        </div>
        <div class="callme__formGroup">
          <label for="email" class="callme__label">¿Qué necesitas?</label>
          <select class="callme__input" name="que_servicio">
            <option class="callme__option callme__option--1" value="developer"
              >Un desarrollador web</option
            >
            <option class="callme__option callme__option--2" value="teacher"
              >Un profesor</option
            >
          </select>
        </div>
        <div class="callme__formGroup">
          <label for="message" class="callme__label">Mensaje</label>
          <textarea
            name="message"
            class="callme__textarea"
            placeholder="Me gustaría contactar contigo porque..."
            required
            minlength="10"
            maxlength="500"></textarea>
        </div>
        <button type="submit" class="callme__button">Enviar mensaje</button>
      </form>
    </article>
    <section class="mobile-footer">
      <p class="mobile-footer__p">Puedes visitar mis redes sociales:</p>
      <a
        href="https://github.com/iker777"
        target="_blank"
        class="mobile-footer__a"
      >
        <img
          src="/svg/github.svg"
          alt="Enlace a Github"
          class="mobile-footer__img"
        />
      </a>
      <a
        href="https://es.linkedin.com/in/iker-alvarez-saez"
        target="_blank"
        class="mobile-footer__a"
      >
        <img
          src="/svg/linkedin.svg"
          alt="Enlace a LinkedIn"
          class="mobile-footer__img"
        />
      </a>
    </section>
  </section>
  <script is:inline>
    // Leer los parámetros de la URL
    const params = new URLSearchParams(window.location.search);

    // Rellenar el formulario
    // Seleccionar opción
    if (params.get("mainService") == "teacher") {
      document.querySelector(".callme__option--2").selected = true;
      document.querySelector(".callme__option--1").selected = false;
    }
    if (params.get("mainService") == "developer") {
      document.querySelector(".callme__option--2").selected = false;
      document.querySelector(".callme__option--1").selected = true;
    }

    // Mensaje
    document.querySelector(".callme__textarea").value =
      params.get("description") || "";
  </script>
  <style>
    .mobile-footer {
      display: none;
    }
    .hidden {
      display: none;
    }
    .callme {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 100vh;
    }
    .callme__textCont {
      width: 50%;
      color: var(--color-text-primary);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      padding: 32px;
      text-align: start;
    }
    .callme__h1 {
      font-size: 32px;
      margin-bottom: 16px;
    }
    .callme__p {
      font-size: 1.2rem;
      margin-bottom: 32px;
    }
    .callme__icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 1rem;
      height: 50%;
      width: 100%;
    }
    .callme__mail,
    .callme__phone,
    .callme__where {
      text-decoration: none;
      color: var(--color-text-primary);
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .callme__mail img,
    .callme__phone img,
    .callme__where img {
      width: 32px;
      height: 32px;
    }
    .callme__mail:hover,
    .callme__phone:hover,
    .callme__where:hover {
      text-decoration: underline;
    }
    .callme__where--location:hover {
      text-decoration: none;
    }
    .callme__mail:active,
    .callme__phone:active,
    .callme__where:active {
      color: var(--color-text-secondary);
    }
    .callme__where--location:active {
      color: var(--color-text-primary);
    }
    .callme__formCont {
      width: 50%;
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }
    .callme__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid white;
      border-radius: 16px;
      margin: 16px;
      padding: 32px 16px;
      background-color: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(8px);
    }
    .callme__formGroup {
      display: flex;
      flex-direction: column;
    }
    .callme__textarea {
      height: 100px;
      resize: none;
    }
    .callme__textarea::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 0.9em;
    }
    .callme__label {
      font-size: 1rem;
      margin-bottom: 8px;
    }
    .callme__input,
    .callme__textarea {
      width: 100%;
      padding: 16px;
      border: 1px solid var(--color-text-secondary);
      border-radius: 8px;
      background-color: transparent;
      color: var(--color-text-primary);
      font-size: 16px;
    }
    .callme__input:focus,
    .callme__textarea:focus {
      outline: none;
      border-color: var(--color-primary);
      box-shadow: 0 0 4px 2px rgba(66, 165, 245, 0.5);
    }
    option {
      color: var(--color-primary);
    }
    .callme__button {
      background: var(--color-accent-purple);
      padding: 16px;
      border: none;
      border-radius: 8px;
      font-size: 24px;
      font-family: "Norse";
      color: white;
      border-radius: 8px;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        transform 0.3s ease;
    }
    .callme__button:hover {
      background: var(--color-accent-purple-hover);
      transform: scale(1.05);
    }
    .callme__button:active {
      background-color: var(--color-accent-purple);
    }
    @media (max-width: 768px) {
      .mobile-footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 16px;
        width: 100%;
        margin-top: 16px;
      }
      .mobile-footer__a {
        text-decoration: none;
      }
      .mobile-footer__img {
        width: 24px;
      }
      .callme {
        flex-direction: column;
        padding: 1rem;
      }
      .callme__textCont {
        width: 100%;
        justify-content: center;
        align-items: start;
        min-height: auto;
        padding-bottom: 16px;
        text-align: center;
      }
      .callme__text {
        width: 100%;
      }
      .callme__h1 {
        font-size: 24px;
        margin-bottom: 8px;
        text-align: center;
      }
      .callme__p {
        font-size: 12px;
        margin-bottom: 0px;
      }
      .callme__icons,
      .callme__p--media {
        display: none;
      }
      .callme__formCont {
        width: 100%;
        height: auto;
        min-height: auto;
        align-items: start;
        padding: 0;
      }
      .callme__form {
        margin: 0;
      }
      .callme__button {
        font-size: 20px;
      }
    }
    .nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    .nav__burger {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      margin: 32px 32px 0 0;
      z-index: 2;
    }
    .nav__content {
      position: absolute;
      background-color: var(--color-shadow);
      backdrop-filter: blur(5px);
      width: 100%;
      min-height: 100vh;
      top: 0;
      left: 100%;
      z-index: 1;
      transition: left 1.5s ease-in-out;
    }
    .menu__active {
      left: 0;
    }
  </style>
</Layout>
