---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article class="callme">
    <div class="callme__textCont">
      <h1 class="callme__h1">We'd love to hear from you</h1>
      <p class="callme__p">
        Whether it's feedback, ideas, or just a hello we're here
      </p>
      <div class="callme__icons">
        <a href="" class="callme__mail">
          <!-- svg -->
          <span class="callme__span">hola@ikeralvarez.com</span>
        </a>
        <a href="" class="callme__phone">
          <!-- svg -->
          <span class="callme__span">666555444</span>
        </a>
        <a href="" class="callme__where">
          <!-- svg -->
          <span class="callme__span">Vitoria-Gasteiz</span>
        </a>
      </div>
    </div>
    <div class="callme__formCont"></div>
  </article>
</Layout>
