---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

console.log("HoolI!");
---

<Layout title="Iker Álvarez | Desarrollador y profesor">
	<section class="bento hero">
		<Hero />
	</section>
	<section class="bento dev">
		<h2>Dev</h2>
	</section>
	<section class="bento exitos">
		<h2>Éxitos</h2>
	</section>
	<section class="bento sobre-mi">
		<h2>Sobre mí</h2>
	</section>
	<section class="bento contacto">
		<h2>Contacto</h2>
	</section>
	<section class="bento profe">
		<h2>Profesor</h2>
	</section>
</Layout>
<style>
	.bento {
		background-color: var(--color-surface);
		border: 2px solid var(--color-primary);
		border-radius: 16px;
		padding: 0;
	}
	.hero {
		grid-column: 1 / 9;
		grid-row: 1 / 5;
		background-color: var(--color-primary);
	}
	.dev {
		grid-column: 9 / 13;
		grid-row: 1 / 7;
	}
	.exitos {
		grid-column: 1 / 5;
		grid-row: 5 / 13;
	}
	.contacto {
		grid-column: 5 / 9;
		grid-row: 5 / 9;
	}
	.sobre-mi {
		grid-column: 5 / 9;
		grid-row: 9 / 13;
	}

	.profe {
		grid-column: 9 / 13;
		grid-row: 7 / 13;
	}
	@media (max-width: 768px) {
		.dev {
			grid-column: 1 / 7;
			grid-row: 1 / 4;
			order: 1;
		}
		.profe {
			grid-column: 7 / 13;
			grid-row: 1 / 4;
			order: 2;
		}
		.contacto {
			grid-column: 1 / 13;
			grid-row: 4 / 6;
			order: 3;
		}
		.hero {
			grid-column: 1 / 13;
			grid-row: 6 / 10;
			order: 4;
		}
		.sobre-mi {
			grid-column: 1 / 7;
			grid-row: 10 / 13;
			order: 5;
		}
		.exitos {
			grid-column: 7 / 13;
			grid-row: 10 / 13;
			order: 6;
		}
	}
</style>
