---
import NavMenu from "../components/NavMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <NavMenu />
    <section class="prof">
        <h1 class="prof__h1">Profesor</h1>
        <p class="prof__p">
            Soy profesor de programaci칩n y marketing digital. Doy cursos de
            certificados de profesionalidad y doy cursos en empresas de manera
            presencial.
        </p>
        <p class="prof__p">
            Si quieres contratar un curso, puedes elegir entre estas opciones:
        </p>
        <div class="card-container">
            <a href="#" class="card__link">
                <div class="card">
                    <div class="card__imgCont">
                        <img src="img/coding-bg.jpg" alt="" class="card__img" />
                    </div>
                    <div class="card__textCont">
                        <h2 class="card__h2">Curso de HTML y CSS</h2>
                        <div class="card__pillCont">
                            <span class="card__pill">游릭 B치sico</span>
                            <span class="card__pill">游뎷 2 horas</span>
                        </div>
                    </div>
                </div>
            </a>
            <!-- <div class="card">
                <h2 class="card__h2">Curso de JavaScript</h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div>
            <div class="card">
                <h2 class="card__h2">Curso de PHP</h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div>
            <div class="card">
                <h2 class="card__h2">
                    Cursos de creaci칩n de plantillas con Wordpress
                </h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div>
            <div class="card">
                <h2 class="card__h2">Cursos de creaci칩n de tiendas online</h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div>
            <div class="card">
                <h2 class="card__h2">Cursos de creaci칩n de SEO</h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div>
            <div class="card">
                <h2 class="card__h2">Cursos de integraci칩n de APIs</h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div>
            <div class="card">
                <h2 class="card__h2">Curso de Google Analytics</h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div>
            <div class="card">
                <h2 class="card__h2">Curso de Mailchimp</h2>
                <a href="#" class="card__btn">Ver m치s</a>
            </div> -->
        </div>
        <p class="prof__p">
            쯅o encuentras el curso que necesitas? P칤demelo y si est치 dentro de
            mis conocimientos, lo creo. <span class="prof__contacto"
                >contacto</span
            >
        </p>
    </section>
</Layout>
<script is:inline>
    const link = document.querySelector(".prof__contacto");
    link?.addEventListener("click", () => (window.location = "/contacto"));
</script>
<style>
    .prof {
        min-height: 100vh;
        padding: 16px;
        text-align: center;
        margin-top: 64px;
    }
    .prof__p {
        padding: 40px 0;
    }
    .card-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .card__link {
        width: 100%;
        margin: 16px;
    }
    .card {
        background-color: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(8px);
        word-spacing: 4px;
        letter-spacing: 2px;
        border-radius: 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid white;
    }
    .card__imgCont {
        max-height: 100%;
    }
    .card__img {
        border-radius: 16px 0 0 16px;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
    /* .card__btn {
        width: 100%;
        text-align: center;
        text-decoration: none;
        background: var(--color-accent-purple);
        padding: 16px;
        border: none;
        border-radius: 8px;
        font-size: 24px;
        font-family: "Norse";
        color: white;
        border-radius: 8px;
        cursor: pointer;
        transition:
            background-color 0.3s ease,
            transform 0.3s ease;
    }
    .card__btn:hover {
        background: var(--color-accent-purple-hover);
        transform: scale(1.05);
    }
    .card__btn:active {
        background-color: var(--color-accent-purple);
    } */
    .prof__contacto {
        color: white;
        text-decoration: underline;
        cursor: pointer;
    }
    .prof__contacto:hover {
        transform: scale(1.2);
        color: var(--color-accent-purple-hover);
    }
    @media (max-width: 1024px) {
        .card-container {
            grid-template: 9fr / 1fr;
        }
    }
</style>
