---
import NavMenu from "../components/NavMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <NavMenu />
    <section class="dev">
        <h1 class="dev__h1">Servicio de desarrollo web</h1>
        <article class="dev__cont dev__cont--odd">
            <div class="dev__textCont">
                <h2 class="dev__h2">Web para negocios</h2>
                <ul class="dev__ul">
                    <li class="dev__li">item1</li>
                    <li class="dev__li">item2</li>
                    <li class="dev__li">item3</li>
                    <li class="dev__li">item4</li>
                </ul>
            </div>
            <div class="dev__contImg">
                <img src="img/coding-bg.jpg" alt="" class="dev__img" />
            </div>
        </article>
        <!-- <article class="dev__art">
            <p class="dev__p">Te ayudo a:</p>
            <ol class="dev__ol">
                <li class="dev__li">Crear una web para tu negocio</li>
                <li class="dev__li">
                    Arreglar tu web, ¿no estás contento con la web que te
                    hicieron?
                </li>
                <li class="dev__li">Crear una tienda online</li>
                <li class="dev__li">Academias online</li>
                <li class="dev__li">
                    Soluciones y automatizaciones, la automatización de tareas
                    repetitivas y aburridas. Ahorrar dinero y esfuerzo
                    innecesario. Automatiza ese Excel.
                </li>
                <li class="dev__li">
                    Integración de APIs: centros logísticos, Inteligencia
                    Artificial, traductores...
                </li>
                <li class="dev__li">
                    Asesoramiento a empresas: consultorías 1 a 1
                </li>
            </ol>
        </article> -->
    </section>
</Layout>
<style>
    .dev {
        margin-top: 64px;
        min-height: 100vh;
        padding: 16px;
    }
    .dev__h1 {
        text-align: center;
    }
    .dev__art {
        padding: 40px;
    }
    .dev__cont {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 16px 0;
    }
    .dev__contImg {
        border-radius: 16px;
        border: 2px solid white;
    }
    .dev__img {
        border-radius: 16px;
        width: 100%;
    }
    @media (max-width: 1024px) {
        .dev__cont--odd {
            flex-direction: column-reverse;
        }
        .dev__cont--even:25 {
            flex-direction: column;
        }
    }
</style>
