---
import NavMenu from "../components/NavMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <NavMenu />
    <section class="dev">
        <h1>Servicio de desarrollo web</h1>
        <h2></h2>
    </section>
</Layout>
<style>
    .dev {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        padding: 16px;
    }
</style>
