---
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script src="./js/phaser.min.js" type="module"></script>
        <ViewTransitions />
    </head>
    <body>
        <main class="main">
            <div id="game"></div>
        </main>
        <script src="./js/game.js" type="module"></script>
    </body>
</html>
