---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div id="game"></div>
    <script src="./js/phaser.min.js" type="module"></script>
    <script src="./js/game.js" type="module"></script>
</Layout>
