<a href="/contacto" class="contact__a">
    <article class="contact">
        <h2 class="contact__title">Hablemos de tu proyecto</h2>
    </article>
</a>
<style>
    .contact__a {
        text-decoration: none;
        color: white;
        width: 100%;
        height: 100%;
        display: block;
    }
    .contact {
        display: grid;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .contact__title {
        z-index: 1;
        text-align: center;
        width: 100%;
        font-size: 32px;
        /* transform: rotate(5deg); */
    }
    .contact__span {
        z-index: 1;
        text-align: center;
        width: 100%;
        font-size: 24px;
    }
    @media (max-width: 1280px) {
        .contact__title {
            font-size: 24px;
        }
        .contact__span {
            font-size: 16px;
        }
    }
</style>
