
<article class="hero__cont">
    <h2 class="hero__title">Iker Álvarez</h2>
    <span class="hero__span">Lorem ipsum dolor sit amet.</span>
</article>
<style>
    .hero__cont {
        border-radius: 16px;
        width: 100%;
        height: 100%;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero__title {
        text-align: center;
        width: 100%;
        font-size: 60px;
    }
    .hero__span {
        text-align: center;
        width: 100%;
        font-size: 24px;
    }
</style>
