---
import HeroComponent from "../components/HeroComponent.astro";
import DevComponent from "../components/DevComponent.astro";
import TeacherComponent from "../components/TeacherComponent.astro";
import SobremiComponent from "../components/SobremiComponent.astro";
import ContactComponent from "../components/ContactComponent.astro";
import ExitosComponent from "../components/ExitosComponent.astro";
---

<div class="grid">
    <section class="bento hero">
        <HeroComponent />
    </section>
    <section class="bento dev">
        <DevComponent />
    </section>
    <section class="bento exitos">
        <ExitosComponent />
    </section>
    <section class="bento sobre-mi">
        <SobremiComponent />
    </section>
    <section class="bento contacto">
        <ContactComponent />
    </section>
    <section class="bento profe">
        <TeacherComponent />
    </section>
</div>

<style>
    .grid {
        padding: 16px;
        /* background-color: var(--color-background);
		color: var(--color-text-primary); */
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        min-height: 100vh;
        gap: 16px;
        overflow-x: hidden;
        /* height: 100%; */
    }
    .bento {
        background-color: var(--color-surface);
        border: 2px solid var(--color-primary);
        border-radius: 16px;
        padding: 0;
        cursor: pointer;
    }
    .hero {
        position: relative;
        z-index: 2;
        grid-column: 1 / 9;
        grid-row: 1 / 5;
        background-color: var(--color-primary);
        animation: tiltIntro 1s ease-out;
        overflow: hidden;
        cursor: default;
    }
    @keyframes tiltIntro {
        0% {
            transform: rotateX(0deg) rotateY(0deg) scale(1);
        }
        50% {
            transform: rotateX(10deg) rotateY(-10deg) scale(1.05);
        }
        100% {
            transform: rotateX(0deg) rotateY(0deg) scale(1);
        }
    }
    .dev {
        grid-column: 9 / 13;
        grid-row: 1 / 7;
    }
    .exitos {
        grid-column: 1 / 5;
        grid-row: 5 / 13;
        position: relative;
        background-color: var(--color-primary);
        position: relative;
    }
    .contacto {
        grid-column: 5 / 9;
        grid-row: 5 / 9;
        background-color: var(--color-accent-purple);
        transition: transform 0.3s ease-in-out;
    }
    .contacto:hover {
        background-color: var(--color-accent-purple-hover);
        transform: scale(1.05);
        border-color: transparent;
    }
    .sobre-mi {
        grid-column: 5 / 9;
        grid-row: 9 / 13;
        position: relative;
    }

    .profe {
        grid-column: 9 / 13;
        grid-row: 7 / 13;
    }
    @media (max-width: 768px) {
        .hero {
            grid-column: 1 / 13;
            grid-row: 1 / 4;
            order: 1;
        }
        .dev {
            grid-column: 1 / 7;
            grid-row: 4 / 8;
            order: 2;
        }
        .profe {
            grid-column: 7 / 13;
            grid-row: 4 / 8;
            order: 34;
        }
        .contacto {
            grid-column: 1 / 13;
            grid-row: 8 / 10;
            order: 4;
        }
        .exitos {
            grid-column: 1 / 7;
            grid-row: 10 / 13;
            order: 5;
        }
        .sobre-mi {
            grid-column: 7 / 13;
            grid-row: 10 / 13;
            order: 6;
        }
    }
</style>
<script src="/js/vanilla-tilt.min.js" is:inline></script>
<script is:inline>
    document.addEventListener("DOMContentLoaded", () => {
        const tiltElement = document.querySelector(".bento.hero");
        if (tiltElement) {
            VanillaTilt.init(tiltElement, {
                max: 10,
                // startX: 5,
                // startY: 5,
                speed: 1000,
                scale: 1.05,
                transition: true,
                glare: true,
                gyroscope: true, // Boolean to enable/disable device orientation detection,
                "max-glare": 0.8,
            });
        }
    });
</script>
